<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Final UI10</display-name>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Controller</display-name>
    <servlet-name>Controller</servlet-name>
    <servlet-class>com.tcs.controller.Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>
		</description>
    <display-name>CreateUserServlet1</display-name>
    <servlet-name>CreateUserServlet1</servlet-name>
    <servlet-class>com.tcs.controller.CreateUserServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateUserServlet1</servlet-name>
    <url-pattern>/CreateUserServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>GeolocationstoreServlet</display-name>
    <servlet-name>GeolocationstoreServlet</servlet-name>
    <servlet-class>com.tcs.controller.GeolocationstoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GeolocationstoreServlet</servlet-name>
    <url-pattern>/GeolocationstoreServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ViewCallLogsServlet</display-name>
    <servlet-name>ViewCallLogsServlet</servlet-name>
    <servlet-class>com.tcs.controller.ViewCallLogsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCallLogsServlet</servlet-name>
    <url-pattern>/ViewCallLogsServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>SipCallLogServlet</display-name>
    <servlet-name>SipCallLogServlet</servlet-name>
    <servlet-class>com.tcs.controller.SipCallLogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SipCallLogServlet</servlet-name>
    <url-pattern>/SipCallLogServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MsgLogServlet</display-name>
    <servlet-name>MsgLogServlet</servlet-name>
    <servlet-class>com.tcs.controller.MsgLogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MsgLogServlet</servlet-name>
    <url-pattern>/MsgLogServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>openLinkServlet</display-name>
    <servlet-name>openLinkServlet</servlet-name>
    <servlet-class>com.tcs.controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>openLinkServlet</servlet-name>
    <url-pattern>/openLinkServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <display-name>messageServlet</display-name>
    <servlet-name>messageServlet</servlet-name>
    <servlet-class>com.tcs.controller.messageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>messageServlet</servlet-name>
    <url-pattern>/messageServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <display-name>ConferenceServlet</display-name>
    <servlet-name>ConferenceServlet</servlet-name>
    <servlet-class>com.tcs.controller.ConferenceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConferenceServlet</servlet-name>
    <url-pattern>/ConferenceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ViewServletTogether</display-name>
    <servlet-name>ViewServletTogether</servlet-name>
    <servlet-class>com.tcs.controller.ViewServletTogether</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewServletTogether</servlet-name>
    <url-pattern>/ViewServletTogether</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <display-name>PresenceServlet</display-name>
    <servlet-name>PresenceServlet</servlet-name>
    <servlet-class>com.tcs.controller.PresenceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PresenceServlet</servlet-name>
    <url-pattern>/PresenceServlet</url-pattern>
  </servlet-mapping>
</web-app>