 /*------------------------------------*\
	RESET
\*------------------------------------*/
/*
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{
	margin:0;
	padding:0;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img{
	border:0;
}
address,caption,cite,code,dfn,th,var{
	font-style:normal;
	font-weight:normal;
}
caption,th{
	text-align:left;
}
h1,h2,h3,h4,h5,h6{
	font-size:100%;
	font-weight:normal;
}
q:before,q:after{
	content:'';
}
abbr,acronym{
	border:0;
}



 */







/*------------------------------------*\
	NAV
\*------------------------------------*/
#nava{
	list-style:none;
	
	margin-bottom:10px;
	/* Clear floats */
	float:left;
	width:100%;
	/* Bring the nav above everything else--uncomment if needed.
	position:relative;
	z-index:5;
	*/
}
#nava li{
	float:left;
	margin-right:10px;
	position:relative;
}
#nava a{
	display:block;
	padding:5px;
	color:white;
	
	text-decoration:none;
}
#nava a:hover{
	
	
	text-decoration:underline;
}

/*--- DROPDOWN ---*/
#nava ul{
	 /* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
	 /* But! Let's make the background fully transparent where we can, we don't actually want to see it if we can help it... */
	list-style:none;
	position:absolute;
	left:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
}
#nava ul li{
	
	 /* Introducing a padding between the li and the a give the illusion spaced items */
	float:none;
}
#nava ul a{
	white-space:nowrap; /* Stop text wrapping and creating multi-line dropdown items */
}
#nava li:hover ul{ /* Display the dropdown on hover */
	left:0; /* Bring back on-screen when needed */
}
#nava li:hover a{ /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
	background:#6495ED;
	text-decoration:underline;
}
#nava li:hover ul a{ /* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
	text-decoration:none;
}
#nava li:hover ul li a:hover{ /* Here we define the most explicit hover states--what happens when you hover each individual link. */
	background:lightblue;
}





/*------------------------------------*\
	TYPE
\*------------------------------------*/
/* h1{
	font-family:Calibri, Arial, Verdana, sans-serif;
	font-size:2em;
	width:520px;
} */