

.header {
	background-color:#2C5197;
	height: 60px;
	width: 98%;
	margin: 20px;
	margin-bottom:5px;
	margin-top:-98px;
	margin-left: 5px;
	border-radius: 7px;
	color: white;
	text-align: left;
	padding-left: 10px;
	padding-top: 1px;
}

.header p {
	font-size: 28px;
	margin-top: -23px;
	margin-left: 2%;
	font-weight: bold;
}

.header a{
	color: white;
	text-align:center;
	font-size: 15px;	
	/* padding-bottom: 9px; */
	margin-top: -5px;
	margin-left: 93%;
	margin-bottom:10%;
	font-weight: bold;

}
#headerlink{
	float:left;
}
#logo{
	display:inline;
	margin:25px 0 0 5px;
	vertical-align:top;
	width:950px;
}

.clearfix {
	background-color: #000000;
	height: 50px;
	width: 99%;
	margin: 20px;
	margin-bottom:5px;
	margin-top:-120px;
	margin-left: 3px;
	border-radius: 7px;
	color: white;
	text-align: left;
	padding-left: 10px;
	padding-top: 1px;
}
body{
	font:62.5%/1.5 "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	background: url('images/Background-5.jpg') center top no-repeat; 
	background-attachment:fixed;
	background-size:cover;
	-moz-background-size:cover;
	-webkit-background-size:cover;
	-o-background-size:cover;
}
.pic-class
{ 
	align:center;
	height:50%; 
	width:108%;
	margin-top:10%;
	margin-bottom:10%;
	margin-left: 35%;
	margin-right: 37%;
	background-color:white;
	background: no-repeat;
	font-size: 25px;
	
}
.login-class
{
	align:center;
	margin-left: 35%;
	margin-right: 37%;
	background-color: transparent;
	height:200%;
	width:50%;
	margin-top:-8%;
}
.register-class
{
    align:center;
	margin-left: 35%;
	background-color: transparent;
	height:200%;
	width:60%;
	margin-top:3%;	
}
.footer-div
{
		margin-left: 35%;
		margin-right: 37%;
		width:50%;
}
.red-field
{
	color:red;
	font-size: 13px;
}
.user-class
{
	font-size: 20px;
	
}
.pass-class
{
	font-size: 20px;
	
}
.forget-class
{
	font-size: 13px;
	
}
.submit-button
{
	margin-top:10px;
	height:30px;
	text-align: center;
	margin-left: 30%;
	border:1px solid #495267; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;width:130px;font-size:14px;font-family:arial, helvetica, sans-serif; padding: 3px 3px 3px 3px; text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; text-align: center; color: #FFFFFF; background-color: #606c88;
	 background-image: -webkit-gradient(linear, left top, left bottom, from(#606c88), to(#3f4c6b));
	 background-image: -webkit-linear-gradient(top, #606c88, #3f4c6b);
	 background-image: -moz-linear-gradient(top, #606c88, #3f4c6b);
	 background-image: -ms-linear-gradient(top, #606c88, #3f4c6b);
	 background-image: -o-linear-gradient(top, #606c88, #3f4c6b);
	 background-image: linear-gradient(to bottom, #606c88, #3f4c6b);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#606c88, endColorstr=#3f4c6b);

}
.reset-button
{
	margin-top:10px;
	height:30px;
	text-align: center;
	border:1px solid #495267; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;width:130px;font-size:14px;font-family:arial, helvetica, sans-serif; padding: 3px 3px 3px 3px; text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; text-align: center; color: #FFFFFF; background-color: #606c88;
 background-image: -webkit-gradient(linear, left top, left bottom, from(#606c88), to(#3f4c6b));
 background-image: -webkit-linear-gradient(top, #606c88, #3f4c6b);
 background-image: -moz-linear-gradient(top, #606c88, #3f4c6b);
 background-image: -ms-linear-gradient(top, #606c88, #3f4c6b);
 background-image: -o-linear-gradient(top, #606c88, #3f4c6b);
 background-image: linear-gradient(to bottom, #606c88, #3f4c6b);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#606c88, endColorstr=#3f4c6b);

}
.register-heading-class
{
	margin-top:25px;
	margin-left: 35%;
	margin-bottom: 10px;
	font-size: 25px;
}
.header-register {
	background-color: #2C5197;
	height: 50px;
	width: 98%;
	margin: 20px;
	margin-bottom:5px;
	margin-top:-10px;
	margin-left: 5px;
	border-radius: 7px;
	color: white;
	text-align: left;
	padding-left: 10px;
	padding-top: 1px;
}
.header-register p {
	font-size: 28px;
	margin-top: -22px;
	margin-left: 2%;
	font-weight: bold;
}

.header-register a{
	color: white;
	text-align:center;
	font-size: 15px;	
	/* padding-bottom: 9px; */
	margin-top: -5px;
	margin-left: 93%;
	margin-bottom:10%;
	font-weight: bold;

}

@media all and (max-width:780px){
.header p {
	font-size: 16px;
	font-weight: bold;
}
.header {
	width: 100%;
}
.header img {
width: 130px;
height: 50px;
	}
	.header a{
	margin-left: 75%;
	}
}
/* .displayQuesClass
{
	margin-top: 40%;
} */