#header
{
position:absolute;
width:800px;
height:2px;
background-color:#004266;
left:10;
top:10;
}
#image1
{
position:absolute;
width:20px;
left:0;
top:0;
}
#subheader
{
position:absolute;
width:800px;
background-color:#004266  ;
left:10;
top:73;
}
#Container
{
position:absolute;
width:200px;
background-color:#004266  ;
height:427px;
left:10;
top:100;
}

#body
{
position:absolute;
width:600px;
background-color:White;
height:370px;
left:210;
top:100;
}
#footer
{
position:absolute;
width:800px;
background-color:#004266 ;
height:20px;
left:10;
top:530;
}

#innerbody1
{
position:absolute;
width:650px;
background-color:#004266  ;
height:25px;
left:3;
top:3;
}
#innerbody2
{
position:absolute;
width:370px;
background-color:white;
height:130px;
left:3;
top:180;
}
#innerbody3
{
position:absolute; 
width:600px;
background-color:WHITE;
height:40px;
left:3;
top:60;
}

#innerbody4
{
position:absolute;
background-color:WHITE;
left:480;
top:180;
}

#table1
{
font-size:10px;
color:#004266;
}

.button_example{
border:1px solid #495267; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;width:158px;font-size:14px;font-family:arial, helvetica, sans-serif; padding: 3px 3px 3px 3px; text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; text-align: center; color: #FFFFFF; background-color: #606c88;
 background-image: -webkit-gradient(linear, left top, left bottom, from(#606c88), to(#3f4c6b));
 background-image: -webkit-linear-gradient(top, #606c88, #3f4c6b);
 background-image: -moz-linear-gradient(top, #606c88, #3f4c6b);
 background-image: -ms-linear-gradient(top, #606c88, #3f4c6b);
 background-image: -o-linear-gradient(top, #606c88, #3f4c6b);
 background-image: linear-gradient(to bottom, #606c88, #3f4c6b);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#606c88, endColorstr=#3f4c6b);
}




